body {
  width: 100vw;
  height: 100vh;
  background-color: #FFFACD;
}

#pass {
	text-align:		center;
}	

.inpass{
	font-size: 		200%;
	font-family: 	"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 	bold;
	color: 			#A020F0;
	left:  			45%;
}

.twopass{
	font-size: 		200%;
	font-family: 	"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 	bold;
	color: 			#BA55D3;
	left:  			45%;
}

.stxt{
	font-size: 		200%;
	font-family: 	"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 	bold;
	color: 			#BA55D3;
	text-align:		center;
}


.logo{
	display: 		block;
	margin: 		auto;
	width:			50%;
	border: 		solid;
	text-align:		center;
}


.button1{
	font-size: 			25px;
	font-family: 		"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 		bold;
	color: 				#DD33FF;
	background-color: 	#FFFACD;
	border-radius: 		12px;
	border: 			3px solid #DD33FF;
	left:				45%;
	cursor:				pointer;
}

.inputxt{
	font-size: 			30px;
	font-family: 		"Comic Sans MS", "Comic Sans", cursive;
	color: 				#DD33FF;
	font-weight: 		bold;	
	width:				50%;
}

.inbox{
	font-size: 100%;
}


.button2{
	font-size: 		30px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: bold;
	color: #BA55D3;
	width: 50%;
	background-color: #FFFACD;
	border-radius: 12px;
	border: 3px solid #BA55D3;
	margin-left: 25%;
	cursor:pointer;
}

.button3{
	font-size: 20px;
	font-weight: bold;
	color: #BA55D3;
	background-color: #FFFACD;
	border-radius: 12px;
	border: 3px solid #BA55D3;
	text-align: center;
	cursor:pointer;
}

#main{
	
	width: 90%;
    	margin: 0 auto;
	text-align: center;
}


#reach{
	vertical-align: top;
	overflow: 	hidden;
}

#data{
	width: 		100%;
	vertical-align: top;
	overflow: 	hidden;
}

.innerxt{
	font-size: 25px;
	font-style: italic;
	color:  #BA55D3;
	line-height:2.5;
}
