body {
  width: 100vw;
  height: 100vh;
  background-color: #FFFACD;
}
#pass {
	width:	40%;
	margin:auto;
	text-align:center;
}	
#start{
	text-align:center;
}
.inpass{
	font-size: 		200%;
	font-family: 	"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 	bold;
	color: 			#A020F0;
	left:  			45%;
}
.twopass{
	font-size: 		200%;
	font-family: 	"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 	bold;
	color: 			#BA55D3;
	left:  			45%;
}
.stxt{
	font-size: 		200%;
	font-family: 	"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 	bold;
	color: 			#BA55D3;
	text-align:		center;
}
.logo{
	display: 		block;
	margin: 		auto;
	width:			50%;
	text-align:		center;
}
.cute{
	width:		100%;
}
.button1{
	font-size: 			30px;
	font-family: 		"Comic Sans MS", "Comic Sans", cursive;
	font-weight: 		bold;
	color: 				#DD33FF;
	background-color: 	#FFFACD;
	border-radius: 		15px;
	border: 			3px solid #DD33FF;
	cursor:				pointer;
	text-align:			center;
}
.inputxt{
	font-size: 			30px;
	font-family: 		"Comic Sans MS", "Comic Sans", cursive;
	color: 				#DD33FF;
	font-weight: 		bold;	
	text-align: center;
}
.inbox{
	font-size: 100%;
	text-align:center;
}


.button2{
	font-size: 		30px;
	font-size: 		60px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: bold;
	color: #BA55D3;
	background-color: #FFFACD;
	border-radius: 12px;
	border: 3px solid #BA55D3;
	cursor:pointer;
	text-align:	center;
}
.button3{
	font-size: 20px;
	font-weight: bold;
	color: #BA55D3;
	background-color: #FFFACD;
	border-radius: 12px;
	border: 3px solid #BA55D3;
	text-align: center;
	cursor:pointer;
}
#main{
	margin:auto;
	width: 50%;
	text-align: center;
}
#reach{
	vertical-align: top;
	overflow: hidden;
	
}
#data{
	vertical-align: top;
	height: 400px;
	overflow: hidden;
}
.innerxt{
